## Ignore build results
bin/
obj/

## Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Ignore Visual Studio Code workspace settings
.vscode/
.vs/

## Ignore build logs and packages
*.log
*.tlog
*.cache
*.pdb

## Others
_ReSharper*/
*.ncrunchproject
*.DotSettings.user
